@font-face {
    src: url('./HelveticaNeueLTProRoman.woff') format('woff');
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: normal;
}

@font-face {
    src: url('./NeueMontrealLight.otf') format('opentype');
    font-family: 'NeueMontrealLight';
    font-style: normal;
    font-weight: 400;
}

@font-face {
    src: url('./NeueMontrealBold.otf') format('opentype');
    font-family: 'NeueMontrealBold';
    font-style: normal;
    font-weight: 400;
}

@font-face {
    src: url('./NeueMontrealRegular.otf') format('opentype');
    font-family: 'NeueMontrealRegular';
    font-style: normal;
    font-weight: 400;
}