.brandContentHolder {
    max-width: 1400px;
    width: calc(95% - 300px);
    margin: 0 auto;
    padding-top: 7rem;
}

.brandLogo {
    margin-bottom: 2rem;
    width: 20%
}

.brandContent1 p {
    margin: 2rem 0;
    font-size: 2rem;
}

.brandContentHolder h2 {
    margin: 2rem 0;
    font-size: 3rem;
    text-transform: uppercase;
}

.singleBrandPage {
    background-color: black;
}

.igImage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.igImageContainer {
    width: 100%;
    padding-top: 100%;
    position: relative;
    display: block;
}

@media only screen and (max-width: 600px) {
    .brandContentHolder {
        max-width: 1400px;
        width: 95%;
        margin: 0 auto;
        padding-top: 3rem;
    }
  }