.brandsPage {
    background-color: black;
}

.brandsPage .brandsWrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.brandsWrapper h1 {
  text-transform: uppercase;
}

.brandsWrapper h2 {
  padding: 1rem 0 0.1rem 0;
  text-transform: uppercase;
}

.brandsWrapper button {
  background: none;
  color: white;
  border: none;
  padding: 0;
  text-decoration: underline;
}

.brandsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
}

.aboutSubsectionBrandsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
}

.brandLogoContainer {
  width: 25%;
}

@media only screen and (max-width: 600px) {
  .brandsPage .brandsWrapper {
    height: 100%;
  }

  .brandsGrid {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    row-gap: 3rem;
    padding: 3rem 0 2rem 0;
  }

  .aboutSubsectionBrandsGrid {
    display: block;
  }
}