.campaignPage {
    background-color: black;
}

.campaignContentHolder {
    max-width: 1400px;
    width: calc(95% - 300px);
    margin: 0 auto;
    padding-top: 7rem;
}

.campaignContentHolder {
    text-transform: uppercase;
}

.campaignImages div {
    margin-top: 1rem;
}

.campaignVideo {
    width: 100%;
    padding-top: 75%;
    position: relative;
    margin-top: 1rem;
}

.campaignVideo iframe {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
}

.campaignCredits {
    margin: 2rem 0;
    text-align: center;
}

.backLink {
    padding-bottom: 2rem;
    text-align: center;
}

