.careersPage {
    background-color: black;
    min-height: 100vh;
}

.careersPageGeneralWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.careersSection {
    padding-top: 7rem;
    margin: 0 auto;
    /* padding-bottom: 2rem; */
}

.careersSection h1 {
    font-size: 3rem;
    text-transform: capitalize;
}

.noCareers p {
    padding-top: 16px;
}

.noCareers p a {
    text-decoration: underline;
}

.noCareers {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

.careerEntry {
    padding: 30px 0;
    border-top: 1px solid white;
}

.careerEntry:last-of-type {
    margin-bottom: 1rem;
    border-bottom: 1px solid white;
}

.careerEntry h2 {
    text-decoration: underline;
    position: relative;
    font-size: 16px;
    color: white;
}

.careerEntry h2:hover {
    cursor: pointer;
}

.plusShow {
    position: absolute;
    right: 0;
}

.plusHide {
    display: none;
}

.minusShow {
    position: absolute;
    right: 0;
}

.minusHide {
    display: none;
}

/* .collapsiblePlus {
    position: absolute;
    right: 0;
} */

/* .collapsiblePlus {
    position: absolute;
    right: 0;
    top: calc(50% - (11px / 2));
    width: 11px;
    height: 11px;
    color: white;
}

.collapsiblePlus::before, .collapsiblePlus::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%) rotate(-90deg);
    background-color: black;
    transition: transform .4s ease-in-out,opacity .4s ease-in-out,-webkit-transform .4s ease-in-out;
    box-sizing: border-box;
}

.collapsiblePlus::before {
    width: 11px;
    height: 1px;
    opacity: 1;
} 

.collapsiblePlus::after {
    width: 1px;
    height: 11px;
}  */

.positionText p {
    padding-top: 1.5rem;
}

.careerEntry ul li p {
    padding-top: 0;
}

.careerEntry ul {
    padding-left: 2rem;
}

.careerEntry ul li:first-of-type {
    padding-top: 1rem;
}

@media only screen and (max-width: 600px) {
    .careersSection {
        padding-top: 5rem;
    }

    .careersSection h1 {
        text-align: left;
    }
    
    .careerEntry {
        padding-top: 2rem;
        width: 100%;
        margin: 0 auto;
    }
    .careerEntry:last-of-type {
        padding-bottom: 2rem;
    }
}

@media only screen and (min-width: 600px) {
    .careersSection {
        width: 100%;
    }
    
    .careersSection h1 {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .careerEntry h2 {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 1600px) {
    .careerEntry h2 {
        font-size: 24px;
    }
}