.careersPage {
    background-color: black;
    min-height: 100vh;
}

.careersSection {
    padding-top: 7rem;
    width: 95%;
    margin: 0 auto;
    padding-bottom: 2rem;
}

.careersSection h1 {
    font-size: 3rem;
    text-transform: capitalize;
}

.careerEntry {
    padding: 2rem 0;
    border-top: 1px solid white;
}

.careerEntry:last-of-type {
    margin-bottom: 1rem;
    border-bottom: 1px solid white;
}

.positionTitle {
    text-decoration: underline;
    position: relative;
    font-size: 18px;
}

.positionTitle span {
    position: absolute;
    right: 0;
}

.positionText {
    display: none;
}

.positionText p {
    padding-top: 1.5rem;
}

.careerEntry ul li p {
    padding-top: 0;
}

.careerEntry ul {
    padding-left: 2rem;
}

.careerEntry ul li:first-of-type {
    padding-top: 1rem;
}

@media only screen and (max-width: 600px) {
    .careersSection {
        padding-top: 5rem;
    }

    .careersSection h1 {
        text-align: left;
    }
    
    .careerEntry {
        padding-top: 2rem;
        width: 100%;
        margin: 0 auto;
    }
    .careerEntry:last-of-type {
        padding-bottom: 2rem;
    }
}

@media only screen and (min-width: 600px) {
    .careersSection {
        width: 100%;
    }
    
    .careersSection h1 {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .positionTitle {
        font-size: 1.5rem;
    }
}