.contactFormPage {
    background-color: black;
}

.contactFormWrapper {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.contactFormPage h1 {
    text-transform: uppercase;
    font-size: 6rem;
    padding-bottom: 2rem;
}

.formHolder {
    padding: 2rem 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: 100%;
}

.formHolder input, .formHolder textarea {
    width: 100%;
    text-align: center;
    border: none;
    background-color: black;
    color: white;
    font-size: 1.5rem;
}

.formHolder textarea {
    width: 80%;
    resize: none;
}

.formHolder input::placeholder, .formHolder textarea::placeholder {
    color: lightgrey;
}

.formHolder input:focus, .formHolder textarea:focus {
    outline: none;
}

.formHolder input:focus::placeholder, .formHolder textarea:focus::placeholder {
    color: black;
}

.contactFormPage button {
    margin-top: 2rem;
    padding: 1rem 5rem;
    border: none;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.contactFormPage .errorMessage {
    margin-top: 2rem;
}

.contactFormPage .singleButtonHolder {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.contactFormPage .buttonHolder {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.messageReceived {
    font-size: 2rem;
}

.backButton {
    background-color: grey;
}

@media only screen and (max-width: 600px) {
    .contactFormPage h1 {
        font-size: 3.5rem;
    }

    .contactFormWrapper {
        width: 95%;
    }

    .contactFormPage button {
        padding: 1rem 3rem;
        font-size: 1rem;
    }

    .formHolder input, .formHolder textarea {
        font-size: 1rem;
    }
}