html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.generalWrapper {
  max-width: 1400px;
  margin: 0 auto;
  width: 80%;
}

.Tilt {
  height: 50vh;
  width: 50vw;
  /* background-color: pink; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
