html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: 'Archivo Narrow';
  color: white;
  background-color: black;
}

div, p, a, h1, h2, h3, li, ul {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

svg {
  fill: white;
}

.generalWrapper {
  max-width: 1400px;
  margin: 0 auto;
  width: 80%;
}

.navWrapper {
  max-width: 1400px;
  margin: 0 auto;
  width: 80%;
  position: fixed;
  z-index: 100;
  left: 10%;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

