html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inconsolata';
  color: white;
  /* background-color: black; */
}

div, p, a, h1, h2, h3, li, ul, button {
  padding: 0;
  margin: 0;
}

img {
  object-fit: cover;
}

b {
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

svg {
  fill: white;
}

svg:hover {
  cursor: pointer;
}

.linksContainer > div:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

input, textarea {
  font-family: 'Inconsolata';
}

canvas {
  height: 100vh;
}

.canvasWrapper {
  position: fixed;
  background-color: black;
  z-index: -10;
}

.generalWrapper {
  max-width: 1400px;
  margin: 0 auto;
  width: 95%;
}

/* .navWrapper {
  max-width: 1400px;
  margin: 0 auto;
  width: 95%;
  position: fixed;
  z-index: 100;
  left: 2.5%;
} */

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.swiper-wrapper {
  list-style: none;
}

.swiper-button-disabled::after {
  display: none !important;
}

.brands_link:hover ~ .brandNavLink {
  display: block;
}


