.main_about {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    width: 95%;
    font-size: 2.5rem;
    min-height: 100vh;
}

.main_about p a {
    text-decoration: underline;
}

.subsections {
    max-width: 1400px;
    width: 95%;
    margin: 0 auto;
}

.about_subsection {
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding: 4rem 0 4rem 0;
}

.about_subsection h2 {
    font-size: 3rem;
    font-weight: normal;
    padding-bottom: 1rem;
    text-transform: capitalize;
}

.about_subsection p {
    font-size: 1.5rem;
    font-weight: normal;
    padding-bottom: 1rem;
}

.about_subsection a {
    font-size: 1.5rem;
    font-weight: normal;
    padding-bottom: 1rem;
    text-decoration: underline;
}

@media only screen and (min-width: 600px) {
    .main_about {
        font-size: 5rem;
    }
    .about_subsection h2 {
        font-size: 5rem;
    }
    .about_subsection p, .about_subsection a {
        font-size: 2rem;
    }
}
