.main_about {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 95%;
    font-size: 2.5rem;
    min-height: 100vh;
}

.main_about p {
    line-height: 1.1;
}

.main_about p a {
    /* text-decoration: underline; */
    display: inline-block;
    /* position: relative; */
    border-bottom: 2.5px solid white;
    line-height: 0.7;
    
}

/* .main_about p a::after {
    content: '';
    position: absolute;
    width: 100%;
    border-bottom: 0.25rem solid white;
    display: block;
    bottom: 0;
} */

.subsections {   
    width: 95%;
    margin: 0 auto;
}

.about_subsection {
    display: flex;
    align-items: center;
    min-height: 70vh;
    padding: 4rem 0 4rem 0;
    width: 100%;
}

.about_subsection h2 {
    font-size: 3rem;
    font-weight: normal;
    padding-bottom: 1rem;
    text-transform: capitalize;
}

.about_subsection p, .about_subsection a{
    font-size: 16px;
    font-weight: normal;
    padding-bottom: 1rem;
    
}

.about_subsection a {
    text-decoration: underline;
}

@media only screen and (min-width: 600px) {
    .main_about {
        font-size: 75px;
        width: 75%;
        margin: 0 0 0 2.5%;
    }

    /* .main_about p a::after {
        bottom: 10px;
    } */

    .about_subsection h2 {
        font-size: 75px;
    }

    .about_subsection p, .about_subsection a {
        width: 50%;
    }
}

@media only screen and (min-width: 1600px) {
    .main_about {
        font-size: 110px;
    }
    .about_subsection h2 {
        font-size: 110px;
    }

    .about_subsection p, .about_subsection a{
        font-size: 24px
    }

    .main_about p a {
        border-bottom: 4px solid white;
        line-height: 0.8;
    }

    /* .main_about p a::after {
        bottom: 15px;
    } */
}
